@import url('https://fonts.googleapis.com/css2?family=Andada+Pro:ital@1&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
}

header {    
    display: flex;
    height: 10vh;
    width: 100vw;
    background: #000000;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 2rem;
}

header.dark-mode {
    background: #e9e9e9;
    color: #000000;
}

h1 {
    font-family: 'Andada Pro', serif;
}

h1.dark-mode {
    font-family: sans-serif;
}

main {
    display: flex;
    height: 80vh;
    width: 100vw;
    background: #ffffff;
    justify-content: center;
    align-items: center;
}

main.dark-mode {
    background: #000000;
}

footer {
    font-family: 'Andada Pro', serif;
    display: flex;
    height: 10vh;
    width: 100vw;
    background: #000000;
    justify-content: center;
    align-items: center;
    color: #ffffff90;
}

footer.dark-mode {
    background: #e9e9e9;
    color: #000000;
}

button {
    height: 5vh;
    width: 10vw;
    border-radius: 40px;
    font-size: 1vw;
    transition: ease-in-out 0.3s;
    border: none;
}

button.dark-mode {
    background: #ffffff;
    color: #000000
}

button:hover {
    border: 0px solid #000000;
    box-shadow: 1px 1px 5px #00000090;
    height: 5.2vh;
    width: 10.2vw;
    letter-spacing: 0.05rem;
    font-size: 1.05vw;
}

button:active {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    transition: ease-in-out 0.5s;
    color: transparent;
}